/* import { Progress } from 'react-sweet-progress'; */
/* import "react-sweet-progress/lib/style.css"; */


/* Above is to be used later during React JS implementation.

 Source for above: https://github.com/nickbullll/react-sweet-progress
------------------------------------------------------------ */

body {
  background-image: url(/images/01.\ blankSplashScreen.png);
  background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  

#logoContainer{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 60%;
  line-height: 75px;
  font-size: 30px;
}

#logo{
  width: 170px;
  height: 200px;
}

#load_and_title{
  margin-left: 5vw;
  margin-top: 12vh;
  color: white;
  font-size: x-large;
}